node_modules
*.vsix
.DS_Store
.idea
.vscode
dist/
test-workspace/
.vscode-test/
*.wasm
!**/tree-sitter-tolk/tree-sitter-tolk.wasm
!**/tree-sitter-func/tree-sitter-func.wasm
!**/tree-sitter-fift/tree-sitter-fift.wasm
!**/tree-sitter-tlb/tree-sitter-tlb.wasm

# tests
server/src/e2e/out

# yarn
yarn-error.log
.yarn/

# eslint
.eslintcache

# coverage
coverage/
