**/*

!dist/**/*.js
!dist/**/*.json
!dist/**/*.wasm
!dist/**/*.svg
!dist/**/*.tolk
!dist/**/*.fc

# Include only this files
!LICENSE
!CHANGELOG.md
!package.json
!./README-extension.md
!editors/code/src/languages
!editors/code/src/assets
!syntaxes/
!snippets/
