name: Building tree-sitter grammars

on:
  pull_request:
    branches:
      - main
    paths:
      - "server/src/languages/**/tree-sitter-**/**"
  push:
    branches:
      - main
    paths:
      - "server/src/languages/**/tree-sitter-**/**"

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

env:
  HUSKY: 0

jobs:
  tree-sitter-grammars:
    name: Building tree-sitter (${{ matrix.os }})
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os:
          - windows-latest
          - ubuntu-latest
          - macos-latest
    steps:
      - name: Fetch Sources
        uses: actions/checkout@v6

      - name: Enable Corepack
        if: matrix.os == 'windows-latest'
        run: corepack enable --install-directory 'C:\npm\prefix'

      - name: Enable Corepack
        if: matrix.os != 'windows-latest'
        run: corepack enable

      - name: Setup Node.js 22.x
        uses: actions/setup-node@v6
        with:
          node-version: 22.x
          cache: "yarn"

      - name: Setup EMSDK
        uses: pyodide/setup-emsdk@ca2dd8aef8c2a0e11743c5c36f0b430ddb694b5c # v15
        env:
          EMSDK_VERSION: 4.0.15
        with:
          version: ${{ env.EMSDK_VERSION }}
          actions-cache-folder: "emsdk-cache"
          cache-key: emsdk-cache-${{ runner.os }}-${{ runner.arch }}-${{ env.EMSDK_VERSION }}

      - name: Install dependencies
        env:
          YARN_ENABLE_HARDENED_MODE: false
        run: yarn install --immutable

      - name: Build WASM
        run: yarn grammar:wasm

      - name: Test parsers
        run: yarn test:grammars
